
.container { 
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    flex-grow: 1;
    box-shadow: var(--shadow-3);
    max-width: 300px;
    margin: 0 auto;
}

.text {
    font-weight: 600;
}

.manufacturer {
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    width: fit-content;
    background-color: rgba(var(--secondary-rgb), 0.4);
    font-size: min(0.8rem, 2.5vw);    
}

.image {
    position: relative;
    height: 170px;
    width: auto;
    max-width: 300px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex-grow: 1;
}
.button-grp {
    margin-top: auto;
    display: flex;
    gap: 0.5rem;
}
.content-item:last-of-type {
    margin-top: auto ;
}