:root {
  --primary: #b799ff;
  --primary-light: #eae0ff;
  --primary-dark: #806bb2;
  --primary-rgb: 183, 153, 255;
  --primary-light-rgb: 234, 224, 255;
  --primary-dark-rgb: 128, 107, 178;
  --secondary: #acbcff;
  --secondary-rgb: 172, 188, 255;
  --secondary-light: rgb(230, 235, 255);
  --secondary-light-rgb: 230, 235, 255;
  --secondary-dark: rgb(120, 131, 178);
  --secondary-dark-rgb: 120, 131, 178;
  --primary-blue: #aee2ff;
  --secondary-blue: #e6fffd;
  --secondary-blue-rgb: 230, 255, 253;
  --primary-text: #0f110c;
  --black: #484a47;
  --grey: #e5e5e5;
  --background-main: #ffffff;
  --background-dark-main: #eae0ff;
  --error: #fa360a;
  --success-rgb: 0, 189, 86;
  --success: #00bd56;
  --info: #207dff;
  --rating: #ffd427;
  --border-radius: 0.5rem;
  /* Shadows */
  --shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  --shadow-vertical: 2px 0px 1px 0px rgba(0, 0, 0, 0.02);
  --shadow-0: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
  --shadow-0-1: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-2: 0 3px 7px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  --shadow-3: 0 7px 15px 0 rgba(0, 0, 0, 0.13), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
  --shadow-4: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  --shadow-5: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
  --shadow-6: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
  --shadow-inset-all: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  --shadow-inset-top-bottom-left: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset,
    0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset,
    20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
  --shadow-inset-raised: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  --shadow-card-primary: 0 0 0 2px var(--primary), 8px 8px 0 0 var(--primary);
  --shadow-card-secondary: 0 0 0 2px var(--secondary),
    8px 8px 0 0 var(--secondary);
  /* Shadows */
  --timing: 400ms;
  --short-timing: 100ms;
  --nav-z-index: 100;
  --dialog-z-index: 1000;
}
.icon__base {
  width: 24px;
  height: 24px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.global__container--main {
  width: 90%;
  min-height: 70vh;
  margin: 0 auto;
}
.global__section-divider {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
body {
  overflow-x: hidden;
}
.nav-bar-margin {
  margin-top: 4rem;
}
.tippy-box[data-theme~='primary'] {
  background-color: rgba(var(--secondary-blue-rgb), 0.3);
  border-radius: var(--border-radius);
}
.tippy-box[data-theme~='primary'] > .tippy-arrow::before {
  transform: scale(0.8);
}
.tippy-box[data-theme~='primary'][data-placement^='top']
  > .tippy-arrow::before {
  border-top-color: var(--primary);
}
.tippy-box[data-theme~='primary'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: var(--primary);
}
.tippy-box[data-theme~='primary'][data-placement^='left']
  > .tippy-arrow::before {
  border-left-color: var(--primary);
}
.tippy-box[data-theme~='primary'][data-placement^='right']
  > .tippy-arrow::before {
  border-right-color: var(--primary);
}
.tippy-box[data-theme~='primary'] .tippy-content {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  padding: 0.35rem;
  padding-bottom: none;
}
/* starting ENTER animation */
.entry-text-enter {
  opacity: 0;
}

/* ending ENTER animation */
.entry-text-enter-active {
  opacity: 1;
  transition: all 1000ms ease-in-out;
  transition-delay: 500ms;
}

/* starting EXIT animation */
.entry-text-exit {
  position: absolute;
  top: 0;
  opacity: 1;
}

/* ending EXIT animation */
.entry-text-exit-active {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateX(200%);
  transition: all 500ms ease-in-out;
}
@keyframes entryBlock {
  0% {
    width: '0%';
    left: '0';
  }
  50% {
    width: '100%';
    left: '0';
  }
  100% {
    width: '0%';
    left: '100%';
  }
};
@keyframes entryText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};